/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* header start */
.topBar_module .fl-rich-text p, .topBar_module ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.topBar_module .storename .phone a:hover span{
    color: #822C28 !important;
}
.topBar_module .storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 14px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 10px;
}
.position_Relative{
    position: relative;
}
.years_90 {
    position: absolute;
    right: 0;
    width: 20% !important;
    top: 0;
    bottom: 0;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: auto;
    padding: 5px 20px;
}
.custom_searchHeader i {
    cursor: pointer;
}
.custom_searchHeader {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height:25px;
    margin: auto;
}
/* header end */

/* footer start*/
.footerShortscode ul, .footerShortscode p {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footerShortscode ul a:hover span, .footerShortscode a:hover p{
    color: #822C28 !important;
}
ul.social-icons a:hover i{
    color: #822C28 !important;
}
/* footer end*/


.Homepage_Btn i.fl-button-icon {
    color: #BB0B0B !important;
}
.Homepage_Btn a.fl-button:hover i.fl-button-icon {
    color: #822C28 !important;
}
.Homepage_Btn span.fl-button-text strong {
    margin-right: 10px;
}
.Flooring_Row .fl-col {
    position: relative;
}

.Flooring_Row .fl-col {
    position: relative;
}
.Flooring_Row .fl-col h4.fl-heading a, .Flooring_Row .fl-col .fl-module-content.fl-node-content{
    position: absolute;
    margin: auto;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Flooring_Row .fl-col .fl-module-content.fl-node-content{
    padding: 10px;
}
.homeinfo .homeinfo_inner > div {
    font-size: 100px !important;
    line-height: 122px !important;
    letter-spacing: 1.52px;
    font-weight: 600 !important;
    color: #262626;
}
.homeinfo .homeinfo_inner {
    display: flex;
    justify-content: center;
    align-items: end;
}
.homeinfo .small {
    font-size: 12px !important;
}
.homeinfo .small br {
    display: none;
}
.theHadinger {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}
.CTA-Global a.uabb-button {
    padding: 0 10px;
}
.CTA-Global i.uabb-button-icon {
    margin: 0 !important;
}


/* mega menu */

header .header-mega-menu .menu {
    position: static;
}
header .header-mega-menu .menu li.mega-menu {
    position: static;
}
header .header-mega-menu .menu li.mega-menu .sub-menu {
    top: inherit !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    margin: 0 -20px !important;
    background: #fff;
    border: 0;
    padding-top: 25px;
    z-index: 999;
    box-shadow: none;
}
header .header-mega-menu .menu li.mega-menu ul.sub-menu li {
    width: 100%;
}
header .header-mega-menu .menu li.mega-menu .sub-menu li .fl-row-content-wrap {
    margin-top: 0px!important;
}
.flooring_Row_menu ul.menu {
    text-align: left;
}
/* mega menu */

/* tabs section */
.tabs-main .fl-builder-content h2.fl-heading, .tabs-main .uabb-content h2  {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: 40px;
}
/* tabs section */

.gfield_captcha_input_container.math_medium input {
    width: auto;
}


@media screen and (max-width:768px){
    .tabs-main  .uabb-tab-acc-title {
        height: 50px;
    }
    .tabs-main  .uabb-tab-acc-title .uabb-acc-icon {
        line-height: 30px;
    }
}
